[core]
  editor = /usr/local/bin/vim
	precomposeunicode = true
  quotepath = false
  excludesfile = ~/.dotfiles/.gitignore
[color]
  ui = auto
[alias]
  st = status
  ci = commit -v
  co = checkout
  br = branch
  cob = checkout -b

[merge]
  tool = p4merge
[mergetool]
  keepBackup = false
[mergetool "p4merge"]
  path = p4merge
  keepTemporaries = false
  trustExitCode = false
[user]
	email = gardentreex@gmail.com
	name = (ю:】
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[commit]
	template = ~/.dotfiles/.commit_template
